@charset "UTF-8";
* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #333333;}
.clearfix::before, .clearfix::after {content: ""; display: block; clear: both;}

#wrap {width: 1200px; margin: 0 auto;}
#header {height: 100px; text-align: center;background:rgb(145, 166, 228);}
#slide {height: 300px;text-align: center; background:rgb(112, 141, 228);line-height: 300px;}
#contents {height: 200px;text-align: center;}
#footer {height: 100px;text-align: center;}

#header .logo {float: left;width: 200px;padding-top: 25px;}
#header .nav {float: right; width: 700px;text-align: center;padding-top: 30px;}
#header .nav > ul {width: 100%;}
#header .nav > ul > li {position: relative; float: left;width: 25%;background:cyan;}
#header .nav > ul > li > a {display: block;width: 100%;height: 40px;line-height: 40px;}
#header .nav > ul > li > ul.submenu {width: 100%;height: 160px; line-height: 40px;position: absolute; left:0; top: 40px;}
#header .nav > ul > li > ul.submenu > li {float: left;width: 100%;background:rgb(75, 160, 160);}
#header .nav > ul > li > ul.submenu > li > a {display: block; width: 100%; }
#header .nav > ul > li > ul.submenu > li:hover {background:rgb(72, 153, 219);}

#contents > div {width: 33.333333%;height: 200px;}
#contents .cont1 {float: left;background:steelblue;}
#contents .cont2 {float: left;background:rgb(72, 153, 219);line-height: 200px;}
#contents .cont3 {float: left;background:rgb(66, 165, 247);line-height: 200px;}

#footer .foot1 {float: left; width: 200px;height: 100px;line-height: 100px;background:royalblue;}
#footer .foot2 {float: left; width: 800px;height: 100px;line-height: 800px;background:rgb(31, 56, 133);}
#footer .foot3 {float: left; width: 200px;height: 100px;line-height: 100px;background:rgb(14, 42, 126);}