@charset "UTF-8";

/* style.css */

html {
    font-size: 100%;
}

body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%; /* 이미지가 부모 요소보다 커지는 것을 방지하려고 작성 */
}

/* header */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav li a {
    color: #432;
}
.main-nav li a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 붙이기 */
}
.wrapper {
    max-width: 1100px; /* 최대 너비 지정 */
    margin: 0 auto; /* 중앙으로 오도록 지정 */
    padding: 0 4%;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
/* 제목 */
.page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;
}
/* 버튼 */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}
.big-bg {
    background-size: cover; /* 이미지의 가로세로 비율을 유지한 상태로 화면을 꽉 채우게 된다. */
    background-position: center top;
    background-repeat: no-repeat;
}
#home {
    background-image: url(../images/main_bg.jpg);
    min-height: 100vh; /* 최소 높이값 */ 
    
}
#home .page-title {
    text-transform: none;
}
#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p { 
    color: #fff;
    font-size: 0.875rem; /* 이 선택자에 대한 컬러값과 폰트사이즈를 주지 않으면 화면에 보이지 않는다. */
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
article {
    width: 60%; /* %로 지정하는 이유는 화면의 너비 변화에 따라 알아서 늘어나고 줄어들게 하기 위해서다. 추가한 칼럼이 있으면 이 속성 값을 조절하여 입력한다. */
    order: 2; /* 출력하고 싶은 순서로 숫자를 지정한다. 이 속성은 display: flex가 지정된 요소의 자식요소에서만 작동된다. */
}
article .post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
article .post-title {
    font-family: "나눈명조", nanummyeongjo, serif;
    font-size: 2rem;
    font-weight: normal;
}
article .post-title, .post-cat {
    margin-left: 120px;
}
article .post-date{
    position: absolute; /* .post-info가 부모요소로 기준이 된다. */
    top: 0;
    padding-top: 10px;
    background: #0bd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
}
article .post-date span {
    border-top: 1px solid rgb(255, 255, 255, .5);
    font-size: 1rem;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}
aside {
    width: 22%;
    order: 3;
}
aside .sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px solid #0bd;
    font-weight: normal;
}
aside p {
    padding: 12px 10px;
}
aside .sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
aside .sub-menu li {
    border-bottom: 1px solid #ddd;
}
aside .sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}
aside .sub-menu a:hover {
    color: #0bd;
}
.ad {
    order: 1;
}
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}
.menu-content {
    max-width: 560px;
    margin-top: 10%;
}
.menu-content .page-title {
    text-align: center;
}
.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;
}
.grid {
    display: grid;
    gap: 26px;
     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));  /* auto-fit 으로 입력하면 부모의 크기에 맞는 수만큼 요소가 들어간다. 어떤 장치에서 보더라도 보기 쉬운 형태로 타일이 출력된다. */
    /* grid-template-columns: repeat(3, minmax(240px, 1fr)); /* minmax(최솟값, 최댓값) */
     /* grid-template-columns: repeat(3, 1fr); /* 아래와 같이 같은 숫자가 연속될 경우 함수를 사용하는 방법이 깔끔하다.  repeat(반복수, 요소의 너비) - 1fr의 박스가 1-열에 3개씩 배치된다. */
    /* grid-template-columns: 1fr 1fr 1fr; /* 1:1:1 화면 너비에 따라 비율로 지정하는 단위 fr */
    margin-top: 6%;
    margin-bottom: 50px;
}
.big-box {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.big-box img {
    height: 94%;
    width: 100%;
}
#contact {
    background-image: url(../images/contact-bg.jpg);
    height: 100vh;
}
form div{
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 18px;
    display: block;
}
input[type="text"], input[type="email"], textarea {
    background: rgba(255, 255, 255, .5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"], input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    background-color: #0bd;
    border-radius: 5px;
    padding: 15px 28px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
}
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 22%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}
iframe {
    width: 100%;
}
#sns {
    background: #faf7f0;
    padding: 4% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
    border-bottom: 2px #0bd solid;
    line-height: 2.5;
}
.sns-box {
    width: 30%;
}
/* 모바일 버전 */
@media (max-width: 600px) {
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    .page-title {
        font-size: 2.5rem;
    }
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }
    .home-content {
        margin-top: 20%;
    }
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 30px;
    }
    article, aside {
        width: 100%;
    }
    .post-info .post-title {
        font-size: 1.375rem;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-info .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-info .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-info .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-info .post-title, .post-info .post-cat {
        margin-left: 80px;
    }
    aside {
        margin-top: 60px;
    }
    .menu-content {
        margin-top: 20%;
    }
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img {
        height: 100%;
    }
    #contact .page-title {
        margin-top: 40px;
    }
    input[type="text"], input[type="email"], textarea {
        max-width: 100%;
    }
    #location .wrapper, #sns .wrapper {
        flex-direction: column;
    }
    .location-info, .location-map, .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}
